body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 3rem;
}

.orange {
    color: orange;
}

.flexi {
    display: flex;
}

.half {
    width: 50%;
    padding: 5%;
}

.half img {
    width: 80%;
}

.hire {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    padding: .5em 2em;
    color: white;
    border-radius: .4em;
}

.top {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.time {
    color: orange;
}

.exp {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.item {
    box-shadow: 2em 2em 6em gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 1em;
    border-radius: .5em;
    margin-bottom: 5em;
}

.bdr {
    border-left: .6em solid tomato;
}

.bdr2 {
    border-left: .6em solid blue;
}

footer {
    text-align: center;
}